@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    'logo logo nav nav'
    '. content content .'
    'footer footer footer footer';
}

#logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
}

#navbar {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
}

#main-content {
  grid-area: content;
  font-family: 'Julius Sans One', serif;
}

#home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menu {
  height: 225px;
  width: 200px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 1.6;
}

.menu > h3,
.menu > p:last-child {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  width: 100%;
  padding: 5px;
}

a {
  cursor: pointer;
  border: none;
  padding: 15px;
  background: linear-gradient(to right, orangered, purple);
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  grid-area: footer;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* responsive design */

@media only screen and (max-width: 500px) {
  #content {
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: repeat(2, min-content) auto min-content;
    grid-template-areas:
      'logo logo logo'
      'nav nav nav'
      '. content .'
      'footer footer footer';
  }

  #navbar {
    margin-top: 0;
  }
}
